/* Font types // font-family: 'Manjari', sans-serif; - font-family: "Comfortaasalida", sans-serif;*/
.hero{
    min-height: 100vh;
    position: relative;
}

.caja-bienvenido, .caja-grande, .text-input-salida, .text-input{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.caja-bienvenido{ /*This is the title "Bienvenido" box-can add  border to see the limits*/
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
}

.titulo{
    font-size: 5em;
    background: linear-gradient(90deg,rgb(255, 255, 255), rgb(255, 255, 255, 0.514));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.condicion{
    font-size: 3em;
    background: linear-gradient(90deg,rgb(255, 255, 255, 0.514), rgb(255, 255, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.video{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.2;
}

.caja-grande{
    display: flex;
    flex-direction: row;
    z-index: 2;
    justify-content: space-between;
}

.caja-input{
    font-size: 2em;
    position: relative;
    z-index: 2;
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.texto-advertencia{
    font-size: 40px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background: linear-gradient(90deg,rgb(255, 255, 255), rgba(255, 255, 255, 0.51));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    padding-bottom: 5px;
}

.text-input{
    display: flex;
    position: relative;
    text-align: center;
    width: 95%;
    height: 100%;
    font-size: 30px;
    padding: 10px;
    color:white;
    justify-content: center;
    background: transparent;
    border-radius: 20px;
    border: 0;
    left: 10px;
    resize: none;
}

.caja-grande-btns{
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 20px;
}

.caja-btns-cifrar-desencripar{
    display: flex;
    width: 50%;
    justify-content: space-around;
    z-index: 2;
}

.caja-btn-copy{
    width: 50%;
    display: flex;
    justify-content: space-around;
    z-index: 2;
}


#btn-cifrar{
    font-size: 25px;
    background: none;
    border-image: linear-gradient(to left,rgba(255, 255, 255, 0.107) ,rgba(255, 255, 255, 0.803))0 0 1 0; /*formato azul  border-image: linear-gradient(to left,aqua ,white )0 0 1 0;*/
    color: rgba(248, 242, 242, 0.9);
    font-weight: bolder;
    padding-bottom: 15px;
    width: 200px;
}

#btn-cifrar:hover{
    transform: scale(1.10);
    transition: 0.5s all;
}

#btn-decifrar{
    font-size: 25px;
    background: none;
    border-image: linear-gradient(to left,rgba(255, 255, 255, 0.107) ,rgba(255, 255, 255, 0.803))0 0 1 0;
    color: rgba(248, 242, 242, 0.9);
    font-weight: bolder;
    width: 200px;
}

#btn-decifrar:hover{
    transform: scale(1.10);
    transition: 0.5s all;
}

#btn-copy{
    font-size: 25px;
    background: none;
    color: rgba(248, 242, 242, 0.9);
    border-image: linear-gradient(to left,rgba(255, 255, 255, 0.107) ,rgba(255, 255, 255, 0.803))0 0 1 0;
    font-weight: bolder;
    width: 200px;
}

#btn-copy:hover{
    transform: scale(1.10);
    transition: 0.5s all;
}

.caja-encriptador{
    display: flex;
    font-size: 30px; 
    width: 50%;
    position: relative;
    text-align: center;
    flex-direction: column;
    z-index: 1;
}

.titulo-texto-codificado{
    font-size: 40px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.501), rgb(255, 255, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder
}

.text-input-salida{
    position: relative;
    width: 95%;
    height: 300px;
    background: none;
    border: 0;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    color: white;
    text-align: center;
    background: transparent;
    border-radius: 10px;
    resize: none;
}

@media screen and (max-width:480px){
    .caja-bienvenido{
        width: 100%;
        font-size: 9px;
    }

    .caja-grande{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10%;
    }

    .caja-input{
        width: 100%;
        height: 260px;
    }

    .texto-advertencia{
        font-size: 1em;
    }

    .text-input{
        height: 100px;
        width: 90%;
        font-size: 1em;
    }

    .caja-encriptador{
        width: 100%;
    }

    .titulo-texto-codificado{
        font-size: 1em;
    }

    .text-input-salida{
        height: 100px;
        font-size: 1em;
    }

    .caja-grande-btns{
        position: absolute;
        top: 325px;
        margin-top: 0;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .caja-btns-cifrar-desencripar{
        display: flex;
        flex-direction: column;
    }
    
    .caja-btn-copy{
        position: absolute;
        top: 262px;
    }
}