body{
    background: url(imagenes/video\ abstarco.mp4);
}

main{
    font-family: 'Manjari', sans-serif;
}

.caja-bienvenido{ /*This is the title "Bienvenido" box-can add  border to see the limits*/
    width: 100%;
    text-align: center;
    margin: 10px auto;
    font-family: 'Manjari', sans-serif;
    position: relative;
    z-index: 2;
    color: white;
}

.titulo{
    font-size: 5em;
}

.condicion{
    font-size: 3em;
}

.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
}

.caja-grande{
    display: flex;
    flex-direction: row;
    z-index: 2;
    gap: 5%;
    justify-content: space-between;
}

.caja-input{
    font-size: 2em;
    position: relative;
    z-index: 2;
    color: white;
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.texto-advertencia{
    font-size: 40px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.text-input{
    position: relative;
    font-family: 'Manjari', sans-serif;
    width: 100%;
    height: 300px;
    background: none;
    border: 0;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    color:white;
    border: 2px solid white;
    justify-content: center;
    left: 10px;
}

.caja-btn{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    top: 2em;
    text-align: center;
    height: 200px;
}

.input-texto-botones {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    gap: 5%;
    text-align: center;
}


#btn-cifrar{
    justify-content: center;
    display: flex;
    flex: 0.2;
    font-size: 20px;
    background: none;
    border: 2px solid transparent;
    border-radius: 10px;
    border-image: linear-gradient(to left,aqua ,white )0 0 1 0;
    color: rgba(248, 242, 242, 0.9);
    font-weight: 600;
    padding-bottom: 20px;
}

#btn-cifrar:hover{
    transform: scale(1.10);
    transition: 0.5s all;
}

#btn-decifrar{
    justify-content: center;
    display: flex;
    flex: 0.2;
    font-size: 20px;
    background: none;
    border: 2px solid transparent;
    border-radius: 10px;
    border-image: linear-gradient(to left,aqua ,white )0 0 1 0;
    color: rgba(248, 242, 242, 0.9);
    font-weight: 600;
}

#btn-decifrar:hover{
    transform: scale(1.10);
    transition: 0.5s all;
}

#btn-copy{
    justify-content: center;
    display: flex;
    flex: 0.2;
    font-size: 20px;
    background: none;
    border: 2px solid transparent;
    border-radius: 10px;
    color: rgba(248, 242, 242, 0.9);
    border-image: linear-gradient(to left,aqua ,white )0 0 1 0;
    font-weight: 600;
}

#btn-copy:hover{
    transform: scale(1.10);
    transition: 0.5s all;
}

.caja-encriptador{
    display: flex;
    font-size: 30px; 
    width: 50%;
    position: relative;
    text-align: center;
    flex-direction: column;
}

.titulo-texto-codificado{
    font-size: 40px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.text-input-salida{
    position: relative;
    font-family: 'Manjari', sans-serif;
    width: 95%;
    height: 300px;
    background: none;
    border: 0;
    border-radius: 10px;
    font-size: 30px;
    padding: 10px;
    color: white;
    text-align: center;
}

@media screen and (max-width:480px){
    .caja-bienvenido{
        font-size: 30px;
        text-align: center;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .video{
        width: 100%;
        height: 100%;
    }

    .capa{
        width: 100%;
        height: 100%;
    }

    .caja-input{
        text-align: center;
        font-size: 25px;
        width: 100%;
    }

    .text-input{
        text-align: center;
        position: static;
        width: 80%;
        height: 40%;
        font-size: 25px;
    }

    .caja-encriptador{
        width: 100%;
        height: 100%;
    }

    #btn-cifrar{
        font-size: 20px;
        width: 55%;
        height: 20%;
        position: absolute;
        top:210px;
        left: 80px;
    }

    #btn-decifrar{
        font-size: 20px;
        width: 55%;
        height: 20%;
        position: absolute;
        top: 180px;
        left: 80px;
        margin-top: 70px;
    }

    .caja-encriptador{
        position: sticky;
    }

    .titulo-texto-codificado{
        position: absolute;
        top: 100px;
        font-size: 25px;
        left: 90px;
    }

    #btn-copy{
        font-size: 20px;
        margin-top: 250px;
        position: static;
        width: 50%;
    }

    .text-input-salida{
        font-size: 20px;
        width: 90%;
        height: 30%;
        position: absolute;
        top: 160px;
    }
}
